<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.png">

  <title>Rida Dashboard</title>

  <!-- Bootstrap CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="{% static 'css/elegant-icons-style.css' %}" rel="stylesheet" />
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
  <!-- full calendar css-->
  <link href="{% static 'assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
  <!-- easy pie chart-->
  <link href="{% static 'assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css' %}" rel="stylesheet" type="text/css" media="screen" />
  <!-- owl carousel -->
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css">
  <link href="{% static 'css/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}">
  <link href="{% static 'css/widgets.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
  <link href="{% static 'css/xcharts.min.css' %}" rel=" stylesheet">
  <link href="{% static 'css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
  <!-- =======================================================
    Theme Name: NiceAdmin
    Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <section id="container" class="">
    <style>
      .header.dark-bg {
        background-color: #893f45;
      }
      </style>      
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">
            <i class="icon_menu"></i></div>
      </div>
      <div style="display: flex; justify-content: space-between;">   
        <a href="/EC_Admin/adminhome" class="logo">
         <!--<span style="color: white">RIDA</span>-->
            <img src="{% static 'images/logo.jpeg' %}" alt="Logo" width="100" height="45" style="margin-bottom: 10px; margin-left: 10px;">
        </a>  
        <ul class="nav top-menu" style="display: flex; justify-content: flex-end;">
          <li id="alert_notificatoin_bar" class="dropdown" style="margin-left: auto;">  
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <i class="icon-bell-l"></i>
                        </a>
          </li>
          <li class="dropdown" style="margin-top: 10px; margin-right: 10px;">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="Image not found" height="33" width="33" src="{{image.url}}">
                            </span>
                            <span class="username">{{username}}</span>
                            <b class="caret"></b>
                        </a>
            <ul class="dropdown-menu extended logout">
              <div class="log-arrow-up">
              </div>
              <li class="eborder-top">
                <a href="/EC_Admin/adminprofile"><i class="icon_profile"></i> My Profile</a>
              </li>
                <li>
                <a href="/EC_Admin/achangepassword"><i class="icon_key_alt"></i>Change password</a>
              </li>
              <li>
                <a href="/logout" style="background-color: #EBEBEB; color: black"><i class="arrow_right_alt"></i> Log Out</a>
              </li>
            </ul>
          </li>
        </ul>
    <style>
        .active a {
            display: inline; /* Keep this as inline */
            margin-right: 10px; /* Adjust this value to add space between items */
            color: white; /* This will change the color of the link text */
        }
    </style>
  </div> 
  </header>
    <!--header end-->

    <!--sidebar start-->
   
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <style>
            #sidebar {
              background-color: #20B2AA;
          }
            .active {
                border-right: 1px solid white;
                color: white;
            }
            .active:last-child {
                border-right: none;
            }
        </style>
        <style>
          .custom-ul {
              display: flex;
              clear: both;
              padding-left: 0;
          }
          .custom-li {
              border-right: 1px solid white;
              padding: 0 10px;
              border-bottom: 1px solid white;
          }
          .custom-li:last-child {
              border-right: none;
          }
          .custom-li a {
              color: white;
              text-decoration: none;
          }
      </style>
      <br>
      <div class="custom-ul">
          <div class="custom-li">
              <a href="/EC_Admin/adminprofile">
                  <span>Profile</span>
              </a>
          </div>
          <div class="custom-li">
              <a href=" ">
                  <span>Library</span>
              </a>
          </div>
          <div class="custom-li">
              <a href=" ">
                  <span>Tools</span>
              </a>
          </div>
      </div>
                                
          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>FINANCE</span>
                          <!--  <span class="menu-arrow arrow_carrot-right"></span>-->
                      </a>
          </li>            
          <li class="sub-menu">
            <a href="javascript:;" class="" onclick="document.getElementById('ProjectCustomFilter').submit();">
                <i class="icon_document_alt"></i>
                <span>REAL ESTATE</span>
              <!--  <span class="menu-arrow arrow_carrot-right"></span>-->
            </a>
            <ul class="sub">
                <form class="form-horizontal" method="post" action="view_project" id="ProjectCustomFilter">
                    {% csrf_token %}                       
                    <li style="color: white; display: none;"><a class="" name="view_project">Dashboard</a></li>                         
                </form>
            </ul>
        </li>        
          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>INNOVATION</span>
                          <!--  <span class="menu-arrow arrow_carrot-right"></span>-->
                      </a>
          </li>

          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>DEVELOPMENT</span>
                          <!--  <span class="menu-arrow arrow_carrot-right"></span>-->
                      </a>
          </li>

          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>AFFILIATES</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" >Add Affiliate</a></li>
              <li><a class="" >Edit/Delete</a></li>
              <li><a class="" >View Affiliate</a></li>
            </ul>
          </li>
        </ul>
</div>
    </aside>

   {% block content %}
    <!-- This is where the content of your child pages will be injected -->
   {% endblock %}

  </section>
    <!--main content end-->

    <div id="sidebar2" class="nav2-collapse ">
      <style>
        body {
          display: flex;
          justify-content: space-between;
      }
      #sidebar2 {
          width: 13%;
          height: 100vh;
          position: fixed;
          right: 0;
          top: 0;
          background-color: maroon;          
          overflow: auto;
      }
      #main-content {
          width: 67%;
          margin-right: 8%;
      }
      .active {
          border-right: 1px solid white;
          color: white;
      }
      .active:last-child {
          border-right: none;
      }
      /* Add this for collapsible menus */
      .sub-menu > ul {
          display: none;
          padding-left: 0; /* Add this line */
      }
      .sub-menu.active > ul {
          display: block;
      }
      .sub1, .sub2 {
          padding-left: 0; /* Add this line */
      }
      .arrow_carrot-right {
        transition: transform 0.3s ease;
      }

      .arrow_carrot-down {
        transform: rotate(90deg);
      }
      .sub2 {
        background-color: white;
        color: black;
        padding: 20px;
        border: 1px solid black;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

    .sub2:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }    
      </style>          
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
          <br>
          <li class="sub-menu1">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>ADMINISTRATOR</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub1">
              <li>
                <a href="javascript:;" class="">
                <span>GENERAL</span>
                <span class="menu-arrow arrow_carrot-right"></span>
              </a>
                <ul class="sub2">
                    <li><a class="" >COMPANY PROFILE</a></li>
                    <li><a class="" >COMPANY POLICIES</a></li>
                    <li><a class="" >AGENDAS</a></li>
                    <li><a class="" >CALENDER</a></li>
                    <li><a class="" >MEMOS</a></li>
                </ul>
            </li>
              <li>            
                <a href="javascript:;" class="">
                <span>HUMAN RESOURCES</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub2">
              <li><a class="" >MANAGEMENT</a></li>
              <li><a class="" >EMPLOYEES</a></li>
              <li><a class="" >BOARD</a></li>
              <li><a class="" >CONSULTANT</a></li>
              <li><a class="" >CONTRACTORS</a></li>
          </ul>
          </li>
              <li>                
                <a href="javascript:;" class="">
                <span>MARKETING</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub2">
            <li><a class="" >PLANNING</a></li>
            <li><a class="" >SALES</a></li>
            <li><a class="" >ADVERTISING</a></li>
            <li><a class="" >INNOVATIONS</a></li>
            <li><a class="" >STRATEGY</a></li>
            <li><a class="" >SOCIAL MEDIA</a></li>
            </ul>
          </li>
            </ul>
          </li>
          <li class="sub-menu1">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>FINANCE</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub1">
              <li>
                <a href="javascript:;" class="">
                <span>ACCOUNTING</span>
                <span class="menu-arrow arrow_carrot-right"></span>
              </a>
                <ul class="sub2">
                    <li><a class="" >CASHFLOW</a></li>
                    <li><a class="" >SALES</a></li>
                    <li><a class="" >PURCHASES</a></li>
                    <li><a class="" >FINANCIAL</a></li>
                    <li><a class="" >PERSONNEL</a></li>
                </ul>
            </li>
              <li>            
                <a href="javascript:;" class="">
                <span>FINANCIAL MANAGEMENT</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub2">
              <li><a class="" >ACCOUNTS</a></li>
              <li><a class="" >LIQUIDITY</a></li>
              <li><a class="" >DEBTS & RISKS</a></li>
              <li><a class="" >ASSETS & SAVINGS</a></li>
              <li><a class="" >INVESTMENTS</a></li>
          </ul>
          </li>
              <li>                
                <a href="javascript:;" class="">
                <span>OTHER</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub2">
            <li><a class="" >INVENTORY</a></li>
            <li><a class="" >BANK</a></li>
            <li><a class="" >AUDIT</a></li>
            </ul>
          </li>
            </ul>
          </li>
          <li class="sub-menu1">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>REPORTS</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub1">
              <li><a class="" >  </a></li>
              <li><a class="" >  </a></li>
              <li><a class="" >  </a></li>
            </ul>
          </li>
      </ul>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      // Hide submenus when page loads
      $('.sub1, .sub2').hide();

      $('.sub-menu1 > a').click(function() {
          $(this).next('.sub1').slideToggle();
          $(this).children('.arrow_carrot-right').toggleClass('arrow_carrot-down');
      });
      $('.sub1 > li > a').click(function() {
          $(this).next('.sub2').slideToggle();
          $(this).children('.arrow_carrot-right').toggleClass('arrow_carrot-down');
      });
    });  
  </script>    
  <!-- container section start -->

  <!-- javascripts -->
   <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>
  <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui-1.9.2.custom.min.js' %}"></script>
  <!-- bootstrap -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- nice scroll -->
  <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <!-- charts scripts -->
  <script src="{% static 'assets/jquery-knob/js/jquery.knob.js' %}"></script>
  <script src="{% static 'js/jquery.sparkline.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js' %}"></script>
  <script src="{% static 'js/owl.carousel.js' %}"></script>
  <!-- jQuery full calendar -->
  <script src="{% static 'js/fullcalendar.min.js' %}"></script>
    <!-- Full Google Calendar - Calendar -->
    <script src="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.js' %}"></script>
    <!--script for this page only-->
    <script src="{% static 'js/calendar-custom.js' %}"></script>
    <script src="{% static 'js/jquery.rateit.min.js' %}"></script>
    <!-- custom select -->
    <script src="{% static 'js/jquery.customSelect.min.js' %}"></script>
    <script src="{% static 'assets/chart-master/Chart.js' %}"></script>

    <!--custome script for all page-->
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- custom script for this page-->
    <script src="{% static 'js/sparkline-chart.js' %}"></script>
    <script src="{% static 'js/easy-pie-chart.js' %}"></script>
    <script src="{% static 'js/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'js/xcharts.min.js' %}"></script>
    <script src="{% static 'js/jquery.autosize.min.js' %}"></script>
    <script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
    <script src="{% static 'js/gdp-data.js' %}"></script>
    <script src="{% static 'js/morris.min.js' %}"></script>
    <script src="{% static 'js/sparklines.js' %}"></script>
    <script src="{% static 'js/charts.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
        <script>
      //knob
      $(function() {
        $(".knob").knob({
          'draw': function() {
            $(this.i).val(this.cv + '%')
          }
        })
      });

      //carousel
      $(document).ready(function() {
        $("#owl-slider").owlCarousel({
          navigation: true,
          slideSpeed: 300,
          paginationSpeed: 400,
          singleItem: true

        });
      });

      //custom select box

      $(function() {
        $('select.styled').customSelect();
      });

      /* ---------- Map ---------- */
      $(function() {
        $('#map').vectorMap({
          map: 'world_mill_en',
          series: {
            regions: [{
              values: gdpData,
              scale: ['#000', '#000'],
              normalizeFunction: 'polynomial'
            }]
          },
          backgroundColor: '#eef3f7',
          onLabelShow: function(e, el, code) {
            el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
          }
        });
      });
    </script>
</body>

</html>